vendor
node_modules
.git
.env
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
public/build
/storage/app/public
/public/storage
.phpunit.result.cache
